<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar Película
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <!-- <ion-searchbar placeholder="Nombre Pelicula" 
  animeted
  (ionChange)="onSearchChange($event)" 
  debounce="900"
  #search
  ></ion-searchbar> -->

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
      <ion-input  animeted name="valor" [(ngModel)]="valor" placeholder="Palabra para buscar"></ion-input></ion-col>
      <ion-col size="6">
        <ion-button size="small" color="secondary" >
          <ion-buttons 
          fixed 
          (click)="valorpalabra()"
           slot="end" 
           name="search"
           >Buscar</ion-buttons>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
<ion-toolbar>

  <ion-segment
    scrollable="scrollable"
    mode="md"
    #segmento
    color="primary"
    (ionChange)="valordesegmento($event)"   
    
  >
    <ion-segment-button
    
      mode="md"
      *ngFor="let genero of genero; let indice=index"
      [value]="indice"
     
       >
      <ion-label >{{genero.name}} </ion-label>
    </ion-segment-button>
  </ion-segment>



  

</ion-toolbar>
<ion-content >

  
  <ion-grid fixed>
    <ion-row >
      
      <ion-col size="6" 
          
          *ngFor="let peligenero of resultadogeneropeliculas; index as i"
         >
        <ion-card 
        (click)="VerDetalle(peligenero.id)">
          
        <img [src]="peligenero.backdrop_path|imagen">
        
       <ion-card-subtitle >
        {{peligenero.release_date}}
       </ion-card-subtitle>
       <ion-card-subtitle>{{peligenero.title}}</ion-card-subtitle>
      
       
         </ion-card>
      </ion-col>
   
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="150px"  position="bottom"
                           (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content  loadingSpinner="bubbles" 
                                loadingText="Un momento por favor...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>


  
</ion-content>
